# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-workspace': [
    { label: 'New atom-memolist', command: 'atom-memolist-new:toggle' }
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'atom-memolist-new'
      'submenu': [
        { 'label': 'New', 'command': 'atom-memolist-new:toggle' }
      ]
    ]
  }
]
